@charset "UTF-8";

body {
    max-width: 100%;
    min-height: 100%;
    background: linear-gradient(to right, rgb(168, 66, 109), #56d7e5 3% 97%, rgb(168, 66, 109));
    background-color: #56d7e5; /*Para navegadores que no soportan degradados*/
}

#contenedor{
    font-family: 'Karla', sans-serif;
    margin: auto; 
    height:auto;
    width: 70vw;
    max-width: 100%;
}

@media only screen and (max-width: 1100px) {
    #contenedor{
        width: 700px;
    }
}

#preview {
    padding-top: 5px;
    width: 150px;
    margin: auto;
}

header{
    max-width: 100%;
    text-align: center;
    padding-bottom: 5px;
}
header #logo{
    width: /*10%;*/ 150px;
    max-width: 17%;
    position: relative;
    margin-top: 2%;/*16px;*/
    padding-top: 1%;
}
nav {
    max-width: 100%;
    text-align: center;
    /*position: relative;
    left: /*3vw;*/
}
nav .contenedor_secciones{
    display: flex;
    /*margin-top: /*-4%;*//*-3vw;*/
    justify-content: center;
    text-align: center;   
}

nav .contenedor_secciones a{ 
    color: rgb(255, 15, 115);
    text-decoration: none;
    text-shadow: 0.04vw 0.04vw 0.04vw ;
    font-size: /*0.8vw;*//*17px;*/ 85%;
}

nav .contenedor_secciones a:hover{
    color: rgb(158, 13, 61);
}

nav .contenedor_secciones .button{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}
section{
    position: relative;
    left: 5%;
    /*margin-left: 50px;*/
    float: left;
    width:/*70%;*/65%;
    padding-top: 50px;
}

section #main_img{
    width: /*70%;*/45vw;
    margin-top: 40px;
    /*margin-left: 10px;*/
    padding-bottom: 20px;
    padding-right: 25px;;
    float:left;

}

section .titulo_normal{
    /*width: 60%;*/
    font-size: 90%;
    color: rgb(158, 13, 61);
    margin-left: 10px;
}

section .resumen {
    width: /*80%;*/35vw;
    margin-left: 10px;
    font-size: /*0.7vw;*/13px;/*75%;*/
    color: rgb(97, 27, 57);
    text-align: justify;
    /*padding-top: 10%;*/
    padding-bottom: 50px;
}

section .video .vid{
    padding-top: 56.26%;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    padding-bottom: 50px;
    size: 50%;
}
iframe{ 
    border: none; 
}

#youtube1{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 80%;
    border: 0;
}

aside {
    text-align: center;
    width: 25%;
    padding-top: 70px;
    float: right; 
}

aside h2{
    position: relative;
    text-align: center;
    /*width: 50%;*/
    font-size: 0.95vw;
    color: rgb(158, 13, 61);
    margin-top: 50px;
    margin-bottom: -1px;
}

aside .bolo{
    width: 60%;
    max-width: 100%;
    display: inline-block;
}

aside .bolo .foto_bolo{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 8px;
}

aside .bolo .foto_bolo img[id="bolo1"], img[id="bolo2"], img[id="bolo3"], img[id="bolo4"]{
    width: 100%;
    transition-duration: 0.4s;
}

footer.pie {
    border-top: 1px hidden rgb(168, 66, 109);
    box-shadow: 0px 0px 4px 0.5px rgb(168, 66, 109);
    clear: both;
    width: 90%;
    margin: auto;
}
footer.pie .RRSS{
    float: left;
}

footer.pie .RRSS ul[class=iconos_RRSS] li[class="iconos_RRSS"]{
    list-style: none;
    display: inline;
    font-size: /*2vw;*/1.7rem;
    margin-right: 20px;
}

footer.pie a{
    color: rgb(168, 66, 109);
}

footer.pie a:hover{
    color: rgb(158, 13, 61);
}

footer.pie .seguridad{
    font-size: /*10px;*/70%;
    float: right;
    padding-top: 50px;
    padding-bottom: 5px;
}